[submodule "themes/jpazure"]
	path = themes/jpazure
	url = https://github.com/jpazureid/hexo-theme-jpazure.git
[submodule "themes/jpaztech"]
	path = themes/jpaztech
	url = https://github.com/jpaztech/hexo-theme-jpaztech.git
[submodule "themes/jpdynamicscrm"]
	path = themes/jpdynamicscrm
	url = https://github.com/jpdynamicscrm/hexo-theme-jpdynamicscrm.git
